@page "/calendar"
@using WhoWasHere.Shared




<h1>Calendar</h1>

@if (daysName != null && weeks != null && DaySelected != null)
{
    //|§FB001 gestione controllo select
    @*<select @onchange="OnMonthChange"  >
            @foreach (string name in MonthsName)
            {
                <option>@name</option>

            }
        </select>*@
    //|çFB001 gestione controllo select
    <div>
        <input type="date" @bind-value="@DaySelected.Date" @oninput="OnMonthChange" />
        <hr />
    </div>



    <br />

    <h3 style="text-align:center; font-weight:bold; ">@DaySelected.Date.ToString("MMMM").ToUpper()</h3>
    <div class="table-responsive-sm">

        <table class="table table-bordered">
            <thead>
                <tr>
                    @foreach (string day in daysName)
                    {
                        <th class="th-centered th-color">
                            @day.ToUpper()
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var week in weeks)
                {
                    <tr>
                        @foreach (var day in week.Days)
                        {

                            <td class="td-centered overtd th-limit" @onclick="@(e => OnModifyDayInfo(@day))">

                                <span style="text-align:center; font-weight:bold; border-bottom:1px solid; display:inline;  "> @day.Date.Day</span>

                                <br />
                                <span>@day.Note</span>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <hr />


    <div id="dayinfo" style=" border:1px; width:auto; height:10em; align-content:center; text-align:center;">
        <div class="day-color-selected">
            @DaySelected.Date.ToString("dd-MM-yyyy")
        </div>
        <div class="form-group" style="text-align: center; ">
            <textarea class="form-control noscroll savenote" @bind="@DaySelected.Note"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" @onclick="@(e=> OnSaveDayInfo(@DaySelected))"> Save</button>


    </div>
    <WhoWasHere.Client.Pages.DailyAppointment.DailyAppointmentsComponent  @ref="@appointments" ></WhoWasHere.Client.Pages.DailyAppointment.DailyAppointmentsComponent>

    

}
else
{
    <WhoWasHere.Client.Pages.Loader.Loding />
}








