@page "/calendar"
@using WhoWasHere.Shared




<h1>Calendar</h1>

@if (daysName != null && weeks != null && DaySelected != null)
{
    //|§FB001 gestione controllo select
    @*<select @onchange="OnMonthChange"  >
            @foreach (string name in MonthsName)
            {
                <option>@name</option>

            }
        </select>*@
    //|çFB001 gestione controllo select

    <input type="date" @bind-value="@DaySelected.Date" @oninput="OnMonthChange" />
    

    <br />

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                @foreach (string day in daysName)
                {
                    <th style="text-align:center;">
                        @day
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var week in weeks)
            {
                <tr>
                    @foreach (var day in week.Days)
                    {

                        <td style="cursor: pointer;" @onclick="@(e => OnModifyDayInfo(@day))">
                            <h6 style="text-align:center; font:bold; border-bottom:1px solid; "> @string.Concat(@day.Date.Day, " - ", @day.DayName)</h6>
                            <br />
                            <label>  @day.Note</label>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <hr />

    <div id="dayinfo" style=" border:1px; border-color:blueviolet;  width:auto; height:auto; ">
        <div style="background:#8b13fb; ">
            <h6>@string.Concat(@DaySelected.Date.Day, " - ", @DaySelected.DayName)</h6>
        </div>
        <textarea style=" width: 100%; height: 100%" @bind="@DaySelected.Note">            
        </textarea>
        <button class="btn btn-primary" @onclick="@(e=> OnSaveDayInfo(@DaySelected))"> Save</button>
    </div>


}
else
{
    <WhoWasHere.Client.Pages.Loader.Loding />
}




