
@page "/AppointmentInserction"

@if (ShowDialog)
{

    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">Add Appointment</h5>
                    <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@appointment" OnValidSubmit="@HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <label for="customer">Customer: </label>
                        <select id="customer" class="form-control" @bind="appointment.IdCustomer">
                            @foreach (var cnt in _customer)
                            {
                                    <option value="@cnt.Id">@cnt.GetFullName()</option>        
                            }
                        </select>
                        
                        

                        <div class="form-group">
                            <label for="start">Day: </label>
                            <input type="date" id="start" class="form-control" @bind-value="@DayAppointment" />
                        </div>

                        <div class="form-group">
                            <label for="startT">Start hour: </label>
                            <input type="time" id="startT" class="form-control" @bind-value="@StartAppointment" />
                        </div>
                        <div class="form-group">
                            <label for="endT">End hour: </label>
                            <input type="time" for id="endT" class="form-control" @bind-value="@EndAppointment" />
                        </div>



                        <button type="submit" class="btn btn-primary">Save appointment</button>
                        <a class="btn btn-outline-primary" @onclick="@Close">Close</a>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}  